.password-input{
    width: 50%;
    border: none;
    outline: none;
}

.icon-span{
    cursor:pointer;
}

.validation-tracker{
    width: 48%;
    background-color: white;
    font-size: 14px;
    color: #fd5555;
    letter-spacing: 0.09em;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}

.validation-tracker div{
    margin: 5px 0;
}

.validation-tracker .validated{
    color: rgba(23, 138, 0, 0.5);
}
