.wrapperReset{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
}
.box-reset{
    width: 440px;
    height: 200px;
    background-color: rgb(28, 42, 0) ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 2);
}

.reset-pass{
    position:relative;
    right: 10px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 0px;
    font-family:Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

.labelEmailReset{
    position: relative;
    bottom: 5px;
    right: 163px;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    color: whitesmoke;
}
.emailInput{
    position: relative;
    width: 435px;
    border: 1px solid blue;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
    opacity: 0.6;
    font-family:Arial, Helvetica, sans-serif;
}

.ResetPass-btn{
    top: 15px;
}