.outerBox{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
}

.box-newPass{
    width: 460px;
    height: 330px;
    background-color: rgb(28, 42, 0) ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 2);
}

.resetPass{
    margin-top: 0px;
    font-size: 24px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    color: whitesmoke;
}
.inputBox{
    position: relative;
    display: flex;
    align-items: center;
}
.password-input-reset{
    top: -10px;
    width: 460px;
    padding: 10px;
    border: 1px solid blue;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
    opacity: 0.6;
    font-family:Arial, Helvetica, sans-serif;
}

.iconSetNew{
    position: absolute;
    top: 5px;
    right:  10px;
    cursor:pointer;
}

.validation-tracker{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: rgb(28, 42, 0) ;
    font-size: 16px;
    color: rgb(255, 0, 0);
    letter-spacing: 0.09em;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
}

.validation-tracker div{
    margin: 5px 0;
}

.validation-tracker.validated{
    color: rgb(22, 131, 0);
}

.reset-pass-btn{
   
}